{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LoL: Champions</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">League of Learning</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Champions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'post' %}">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'qna' %}">Q and A</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About the Champions</h1>
              <span class="subheading">There are a wide variety of roles</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>A Champion for Everyone</h2>
            
          <p>With multiple roles and over 130 champions to choose from, there's a fit for everyone.</p>
          <p>The all league of legends champion can seperate to assassin, fighter, mage, marksman, support, and tank.</p>
        
           <li> TANK Itself has high HP [Health Point] and high Def [Defense], while has low Attack.
            TANK position is always at the forefront by making itself as a SHIELD against friends or you can say it sacrifice. :v
                With its durability as a hero, the tank is very good for dividing the opponent formation and allowing the carry to poke the opponents.
                So, Tank really very useful when teammate backing up.</li><br>


            <li>Fighter is a melee type. Fighter in general has a high defense and attack. Fighter usually attack / jump towards to the enemy while his friend repaid the blood of the enemy (the enemy is usually unconscious while your teammate hit them), then back away, and then jump again towards the enemy to finish and kill him. In general, Fighter can also be called as SEMI-TANK, because their build that suitable for the fighter I think half AD [Attack Damage] and half Armor / MR [Magic Resist]. For this role can also be used for Jungling. Well, it still depends on the situation of our own team.</li><br>


            <li>Marksman is a type that has a high attack / damage and critical and distance. This type is commonly referred to as carry / ADC [Attack Damage Carry]. This type of hero has a important role for kill the enemy. When using this hero, be smart to keep the distance with the hero of the opponent, because this type of hero is usually low durability. When using this type of hero, you should use gears that increase your attack speed, because in addition to kill the enemy, marksman can also destroy the tower quickly. Do not forget to buy "Lifesteal" :v</li><br>
            
            <br/>
            <a href="#">
              <img class="img-fluid" src="static/img/about-bg2.jpg" alt="">
            </a>
            <br/>
            <br/>
            <br/>

            <li>Mage is a very cool type to make the enemy hassles, and the damage has more pain because few users who care about magic defense. What is meant by making enemy hassles for example like this: Balmond spinning and suddenly transformed into a cat with Nana, Miya was enjoy under his own turret then thrown umbrella by kagura and whether you want it or not she will steap aside. Magic type is a very cool to be support, while the mage makes the enemy hassles of your team friends also can deal great damage to the enemy's HP.
            </li><br>

            <li>Assassin is a type of fighter who has the high attack and high speed. These roles usually roaming to top / bottom while jungling, so dont be surprised if the assassin type likes to appear suddenly and come to kill. Carry type is the type most targeted by assassin and certainly very helpful team in reducing the pressure from the enemy. The main task of assassin in my opinion is "Kill Steal" on the enemy [Marksman] who is alone, so the player who likes to kidnaping is highly recommended to wear assassin. Usually the time for assassin to help the war team is in the middle of war [when enemy's HP the remaining half] and also at the end, because assassin is have low durability like marksman. So "Immortality" must exist for the assassins.</li><br>


            <li>Support as the healer. Healer in early games is generally coupled with "carry" until the carry have the gears to kill enemy. And when the late game healer is for anyone and really felt the benefits while being Rally and Push. Healer is generally positioned at the back, and try not to die, but when your fighter or team's marksman is dying do not hesitate to go forward and distract the enemy on you. Support has a very difficult task, because they must very cover the marksman not to die, although sacrifice your life. Until now there is sometimes more support Kill more than Marksman, and that's because it was not intentionally to take Kill from Marksman but so that the enemy is really Die at the time of the battle. And in MLBB rarely happens team dispute just because Support gets Kill, I really support it :v Additional for the Support type not to be equated with MAGE although their skill / gears type is Magic type. Because the mage and support tasks are clearly different.</li><br>
          
          
            
            <p>Placeholder text by
              <a href="https://forum.mobilelegends.com/forum.php?mod=viewthread&tid=16211">Type of Role</a>. Photographs by
              <a href="http://esport-times.com/league-of-legends-beginners-info/">Type of Role sign</a>
            </p>
            
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer 
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer> -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
