{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LoL: Introduction</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">League of Learning</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Champions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'post' %}">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'qna' %}">Q and A</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/post-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1> Game Features </h1>
              <span class="subheading">League of Legends has many special and interesting features. We will introduce 3 features here:</span>
              </div>
           </div>
         </div>
      </div>
      
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
            </p>

            
            <h2 class="section-heading">Ranking System</h2>
              
            <a href="#">
              <img class="img-fluid" src="static/img/post-sample-image.jpg" alt="">
            </a>
            

            <p>Here is a link to the 
              <a href="http://leagueoflegends.wikia.com/wiki/League_system">Rank System</a>. Photographs by
              <a href="http://leagueoflegends.wikia.com/wiki/League_system">Rank sign</a>.</p>
            <p>
                League of Legends has yearly season. Ranked game play is split into the following 7 ranks:
                <list>
                    <li>Bronze.</li>
                    <li>Silver.</li>
                    <li>Gold.</li>
                    <li>Platinum.</li>
                    <li>Diamond.</li>
                    <li>Master.</li>
                    <li>Challenger.</li>
                </list>
            </p>
              <h2 class="section-heading">Runes(Mastery) Feature</h2>
              
            <a href="#">
              <img class="img-fluid" src="static/img/post-sample-image2.jpg" alt="">
            </a>
            

            <p>Here is a link to the 
              <a href="https://na.leagueoflegends.com/en/featured/preseason-update">Runes System</a>. Photographs by
              <a href="https://na.leagueoflegends.com/en/featured/preseason-update">Runes sign</a>.</p>
            <p>
                Runes also known as masteries are a streamlined system that you can use to adapt and customize your playstyle in champion select. Runes Reforged concentrates your pre-game power into a focused set of options, so every choice matters more. All 60 of the new runes are free.
              
               </p>
              <h2 class="section-heading">Skin Feature</h2>
              
            <a href="#"></a>
              <img class="img-fluid" src="static/img/post-sample-image3.jpg" alt="">
            </a>
            

            <p>Here is a link to the 
              <a href="http://leagueoflegends.wikia.com/wiki/Champion_skin">Skin System</a>. Photographs by
              <a href="http://leagueoflegends.wikia.com/wiki/Champion_skin">Skin sign</a>.</p>
            <p>
                A champion skin refers to an alternate appearance (skin) and/or color scheme (chroma) for any given League of Legends champion.
                <br/>
                <br/>
                

                Most skins can be purchased from the game client's Riot Store using RP icon Riot Points while some are only available for a limited time, with a very select few being unobtainable aside from the time they were first released.
                <br/>
                <br/>

                Every skin has its own splash artwork displayed in champion select by clicking on the respective thumbnail after selection.
                <br/>
                <br/>

                Some skins also give champions different particle effects, voice-overs, and sound effects (their price varies accordingly) while chroma only give a separate color palette and nothing more.
                <br/>
                <br/>
              </p>
          </div>
          
        </div>
        <h2>Have any questions? Want to know more about a specific champion or mechanic?</h2>
        <br/>
        <h2>Fill out the form below and get answered on our Q and A page!</h2>
      </div>
    </article>




    <div class="container">
        <form action = "" method="post">{% csrf_token %}
        <div class= "form-group">
          {{ form.as_p }}
        </div>
        <input type = "submit" class = "btn btn-default" value="submit"/>
        </form>

      </div>

    <hr>

    <!-- Footer
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>  -->

      

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>



  </body>

</html>
